<!DOCTYPE html>
<h2 class="mb-auto">Players</h2>

<p><input type="text" ng-model="searchInput"></p>
<hr class="mb-2">    
           
<div class="table-responsive">
    <table id="playersTable" class="m-auto table table-borderless text-monospace display nowrap">
        <thead class="thead-dark">
            <tr class="">
                <th class="" ng-click="orderByMe('online')">Online</th>
                <th class="" ng-click="orderByMe('username')">Player</th>
                <th class="col-priority-low" ng-click="orderByMe('birthdate')">Age</th>
                <th class="col-priority-low" ng-click="orderByMe('gender')">Gender</th>
                <th class="col-priority-low" ng-click="orderByMe('played')"># Played</th>
                <th class="col-priority-low" ng-click="orderByMe('won')"># Won</th>
                <th class=""></th>
            </tr>
        </thead>

        <tr class="" ng-repeat="po in playersOnlineList | orderBy:myOrderBy | filter:searchInput">
            <td class="" ng-bind-html="po.online | onlineStatus"></td>
            <td class="">{{po.username}}</td>
            <td class="col-priority-low" ng-bind-html='po.birthdate | computeAge'></td>
            <td class="col-priority-low">{{po.gender}}</td>
            <td class="col-priority-low">{{po.played}}</td>
            <td class="col-priority-low">{{po.won}}</td>
            <td class=""><input type="button" value="Challenge" class="btn btn-outline-dark"/></td>
        </tr>

    </table>
</div>

